<%- include("partials/header.ejs") -%>
<%- include("partials/body-top.ejs") -%>
<%- include("partials/sidebar.ejs") -%>

<div class="col-sm-10">
  <div class="row">
    <div class="col-12 shadow-sm"><h2>Master Data</h2></div>
    <div class="col-12 shadow-sm">GL Accounts</div>
  </div>
<!-- container -->
<div class="container-fluid">
    
    <div class="row main-box bg-light rounded-3">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-gl-create-tab" data-bs-toggle="tab" data-bs-target="#nav-gl-create" type="button" role="tab" aria-controls="nav-gl-create" aria-selected="true">Create</button>
          <button class="nav-link" id="nav-gl-modify-tab" data-bs-toggle="tab" data-bs-target="#nav-gl-modify" type="button" role="tab" aria-controls="nav-gl-create" aria-selected="false">Modify</button>
        </div>
      </nav>
      <div class="tab-content " id="nav-tabContent">
          
         <!-- second tab -->
         <div class="tab-pane fade show active " id="nav-gl-create" role="tabpanel" aria-labelledby="nav-gl-create">
          <form action="#" method="post" id="gl-create">
          <div class="row">
                <!-- 1st col -->
                <div class="col-sm-6">
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">GL Account</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="gl_account" id="gl_account" required>
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Company Code</label>
                    <div class="col-sm-9">
                    <select class="form-select" name="c_code" id="c_code" required>
                      <option selected disabled>Choose...</option>
                      <% companyCodes.forEach(function(code) { %>
                          <option value="<%= code._id %>"><%= code.code %></option>
                      <% }); %>
                    </select>
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Account Type</label>
                    <div class="col-sm-9">
                    <select class="form-select" name="acc_type" id="acc_type" required>
                      <option selected disabled>Choose...</option>
                      <% accType.forEach(function(acc) { %>
                        <option value="<%= acc._id %>"><%= acc.accountType %></option>
                    <% }); %>
                    </select>
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Account Group</label>
                    <div class="col-sm-9">
                    <select class="form-select" name="acc_group" id="acc_group" required>
                      <option selected disabled>Choose...</option>
                    </select>
                  </div>
                  </div>
                </div>
                <!-- end of 1st col -->
                <!-- 2nd col -->
                <div class="col-sm-6">
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">GL Account Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="gl_name" id="gl_name" required>
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Account Currency</label>
                    <div class="col-sm-9">
                    <select class="form-select" name="acc_currency" id="acc_currency" required>
                      <option selected disabled>Choose...</option>
                      <option value="PHP" >PHP</option>
                      <option value="MYR">MYR</option>
                    </select>
                  </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Tax Category</label>
                    <div class="col-sm-9">
                    <select class="form-select" name="tax_category" id="tax_category">
                      <option selected disabled>Choose...</option>
                    </select>
                  </div>
                  </div>
                </div>
                <!-- desc  -->
                <p class="desc">Description</p>
                <div class="col-sm-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="">Short Text</span>
                    <input type="text" class="form-control" name="desc_short" id="desc_short" required>
                  </div>
                </div>
                <div class="col-sm-6">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="">Long Text</span>
                  <input type="text" class="form-control" name="desc_long" id="desc_long" required>
                </div>
              </div>
                <!-- end of desc -->
                <!-- end of 2nd col -->
             </div>  <!-- end of row -->
            </form>
              <!-- button -->
              <div class="mb-3 mt-5 d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-sm " id="gl-create-btn">Create</button>
              </div> <!-- end of button -->
              <div id="gl-create-label" class="alert d-none"  role="alert"></div>
        </div>
        <!-- end of second tab -->

        <!-- third tab -->
        <div class="tab-pane fade" id="nav-gl-modify" role="tabpanel" aria-labelledby="nav-gl-modify">
          <form action="" method="post" id="gl-modify">
          <div class="row">
                <!-- 1st col -->
                <div class="col-sm-6">
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">GL Account</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="gl_account" id="gl_account" required>
                        <option selected disabled>Choose...</option>
                        <% glAccounts.forEach(function(glAccount) { %>
                            <option value="<%= glAccount._id %>"><%= glAccount.glAccount %></option>
                        <% }); %>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Company Code</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="c_code" id="c_code" required>
                        <option selected disabled>Choose...</option>
                        <% companyCodes.forEach(function(code) { %>
                            <option value="<%= code._id %>"><%= code.code %></option>
                        <% }); %>
                      </select>
                    </select>
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Account Type</label>
                    <div class="col-sm-9">
                      <select class="form-select" name="acc_type" id="acc_type" required>
                        <option selected disabled>Choose...</option>
                        <% accType.forEach(function(acc) { %>
                          <option value="<%= acc._id %>"><%= acc.accountType %></option>
                      <% }); %>
                      </select>
                    </select>
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Account Group</label>
                    <div class="col-sm-9">
                    <select class="form-select" name="acc_group" id="acc_group" required>
                    </select>
                  </div>
                  </div>
                </div>
                <!-- end of 1st col -->
                <!-- 2nd col -->
                <div class="col-sm-6">
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">GL Account Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="gl_name" id="gl_name" required>
                    </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Account Currency</label>
                    <div class="col-sm-9">
                    <select class="form-select" name="acc_currency" id="acc_currency" required>
                      <option selected disabled>Choose...</option>
                      <option value="PHP">PHP</option>
                      <option value="MYR">MYR</option>
                    </select>
                  </div>
                  </div>
                  <div class="form-group row mb-3">
                    <label class="col-sm-3 col-form-label">Tax Category</label>
                    <div class="col-sm-9">
                    <select class="form-select" name="tax_category" id="tax_category">
                    </select>
                  </div>
                  </div>
                </div>
                  <!-- desc  -->
                  <p class="desc">Description</p>
                  <div class="col-sm-6">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="">Short Text</span>
                      <input type="text" class="form-control" name="desc_short" id="desc_short" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="">Long Text</span>
                    <input type="text" class="form-control" name="desc_long" id="desc_long" required>
                  </div>
                </div>
              </form>
                  <!-- end of desc -->
                <!-- end of 2nd col -->
                <!-- button -->
                <div class="mb-3 mt-5 d-flex justify-content-center">
                  <button type="button" class="btn btn-primary btn-sm btn-space" id="update-btn">Update</button>
                  <button type="button" class="btn btn-primary btn-sm btn-space" id="delete-btn">Delete</button>
                </div> <!-- end of button -->
                <div id="gl-modify-label" class="alert d-none"  role="alert"></div>
             </div>  <!-- end of row -->
            
        </div>
        <!-- end of third tab -->
      </div>

        
        


</div> 
<!-- end of container -->



<%- include("partials/footer.ejs") -%>
